@tailwind base;
@tailwind components;
@tailwind utilities;

/* base dark do projeto */
:root { color-scheme: dark; }
html, body, #root { height: 100%; }
body { margin: 0; }

/* opcional: scrollbar horizontal para carrosséis */
.horizontal-scroll::-webkit-scrollbar { height: 8px; }
.horizontal-scroll::-webkit-scrollbar-thumb { background: #2a2a2a; border-radius: 9999px; }
